In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the train and test datasets
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [3]:
df_train.head()

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
0,0,25.0,0.50,0.25,0.75,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.425011,0.417545,32.460887,4476.81146
1,1,25.0,0.50,0.25,0.50,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.444908,0.422051,33.858317,5548.12201
2,2,12.5,0.25,0.25,0.63,0.63,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.552927,0.470853,38.341781,6869.77760
3,3,12.5,0.25,0.25,0.63,0.50,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.565976,0.478137,39.467561,6880.77590
4,4,25.0,0.50,0.25,0.63,0.63,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.579677,0.494165,40.484512,7479.93417

In [4]:
df_test.tail()

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds
10189,25478,25.0,0.25,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.474162,0.437923,34.525258
10190,25479,25.0,0.50,0.25,0.50,0.75,77.4,46.8,64.7,55.8,27.0,45.8,16.0,0.26,0.482854,0.440676,35.648221
10191,25480,25.0,0.50,0.38,0.50,0.50,77.4,46.8,64.7,55.8,27.0,45.8,16.0,0.26,0.568854,0.463065,37.724724
10192,25481,12.5,0.25,0.25,0.38,0.50,94.6,57.2,79.0,68.2,33.0,55.9,34.0,0.56,0.407374,0.409261,31.881847
10193,25482,12.5,0.25,0.25,0.50,0.50,77.4,46.8,64.7,55.8,27.0,45.8,1.0,0.10,0.579677,0.486202,40.265408

In [5]:
df_test.tail()

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds
10189,25478,25.0,0.25,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.474162,0.437923,34.525258
10190,25479,25.0,0.50,0.25,0.50,0.75,77.4,46.8,64.7,55.8,27.0,45.8,16.0,0.26,0.482854,0.440676,35.648221
10191,25480,25.0,0.50,0.38,0.50,0.50,77.4,46.8,64.7,55.8,27.0,45.8,16.0,0.26,0.568854,0.463065,37.724724
10192,25481,12.5,0.25,0.25,0.38,0.50,94.6,57.2,79.0,68.2,33.0,55.9,34.0,0.56,0.407374,0.409261,31.881847
10193,25482,12.5,0.25,0.25,0.50,0.50,77.4,46.8,64.7,55.8,27.0,45.8,1.0,0.10,0.579677,0.486202,40.265408

In [6]:
df_train.sample()

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
1577,1577,12.5,0.25,0.38,0.38,0.5,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.628099,0.513722,43.278498,8134.72655

In [7]:
# Get the number of unique values in train features and target'

df_train.nunique()

id                      15289
clonesize                   6
honeybee                    7
bumbles                    11
andrena                    16
osmia                      14
MaxOfUpperTRange            6
MinOfUpperTRange            5
AverageOfUpperTRange        5
MaxOfLowerTRange            6
MinOfLowerTRange            7
AverageOfLowerTRange        5
RainingDays                 6
AverageRainingDays          8
fruitset                 1526
fruitmass                1515
seeds                    2066
yield                     776
dtype: int64

In [8]:
# Calculate the percentage of unique values compared to the total number of rows
unique_percent_train = (df_train.nunique() / len(df_train)) * 100

unique_percent_train

id                      100.000000
clonesize                 0.039244
honeybee                  0.045785
bumbles                   0.071947
andrena                   0.104650
osmia                     0.091569
MaxOfUpperTRange          0.039244
MinOfUpperTRange          0.032703
AverageOfUpperTRange      0.032703
MaxOfLowerTRange          0.039244
MinOfLowerTRange          0.045785
AverageOfLowerTRange      0.032703
RainingDays               0.039244
AverageRainingDays        0.052325
fruitset                  9.981032
fruitmass                 9.909085
seeds                    13.512983
yield                     5.075545
dtype: float64

In [9]:
df_train.describe(percentiles=[0.01, 0.99])

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
count,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000,15289.000000
mean,7644.000000,19.704690,0.389314,0.286768,0.492675,0.592355,82.169887,49.673281,68.656256,59.229538,28.660553,48.568500,18.660865,0.324176,0.502741,0.446553,36.164950,6025.193999
std,4413.698468,6.595211,0.361643,0.059917,0.148115,0.139489,9.146703,5.546405,7.641807,6.610640,3.195367,5.390545,11.657582,0.163905,0.074390,0.037035,4.031087,1337.056850
min,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,69.700000,39.000000,58.200000,50.200000,24.300000,41.200000,1.000000,0.060000,0.192732,0.311921,22.079199,1945.530610
1%,152.880000,12.500000,0.250000,0.250000,0.250000,0.250000,69.700000,42.100000,58.200000,50.200000,24.300000,41.200000,1.000000,0.100000,0.320417,0.370481,27.719772,2825.003740
50%,7644.000000,25.000000,0.500000,0.250000,0.500000,0.630000,86.000000,52.000000,71.900000,62.000000,30.000000,50.800000,16.000000,0.260000,0.506600,0.446570,36.040675,6117.475900
99%,15135.120000,37.500000,0.537000,0.380000,0.750000,0.750000,94.600000,57.200000,79.000000,68.200000,33.000000,55.900000,34.000000,0.560000,0.633463,0.524344,44.721635,8634.775830
max,15288.000000,40.000000,18.430000,0.585000,0.750000,0.750000,94.600000,57.200000,79.000000,68.200000,33.000000,55.900000,34.000000,0.560000,0.652144,0.535660,46.585105,8969.401840

In [10]:
df_test.describe(percentiles=[0.01, 0.99])

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds
count,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000,10194.000000
mean,20385.500000,19.795958,0.391606,0.286307,0.491328,0.593222,82.207014,49.697204,68.687816,59.256465,28.674779,48.592643,18.507360,0.322501,0.501809,0.446345,36.136349
std,2942.898656,6.591864,0.390022,0.059867,0.148166,0.139897,9.153442,5.552286,7.647629,6.617055,3.198282,5.395790,11.780074,0.165342,0.074707,0.037054,4.019885
min,15289.000000,10.000000,0.000000,0.000000,0.000000,0.000000,69.700000,39.000000,58.200000,50.200000,24.300000,41.200000,1.000000,0.060000,0.233554,0.311921,24.320627
1%,15390.930000,12.500000,0.250000,0.250000,0.250000,0.250000,69.700000,42.100000,58.200000,50.200000,24.300000,41.200000,1.000000,0.100000,0.320565,0.370488,27.621548
50%,20385.500000,25.000000,0.500000,0.250000,0.500000,0.630000,86.000000,52.000000,71.900000,62.000000,30.000000,50.800000,16.000000,0.260000,0.506346,0.446570,36.013557
99%,25380.070000,37.500000,0.537000,0.380000,0.750000,0.750000,94.600000,57.200000,79.000000,68.200000,33.000000,55.900000,34.000000,0.560000,0.633144,0.524273,44.623966
max,25482.000000,37.500000,18.430000,0.585000,0.750000,0.750000,94.600000,57.200000,79.000000,68.200000,33.000000,55.900000,34.000000,0.560000,0.652144,0.535660,46.139425

### THOUGHTS

We can observe that except for 'seeds', every other feature has less than 10% which there is not a lot of variable features. Plenty of unique features.

10 - 13% still seems like there is not a lot of variation as this is 2,000 different values in ~ 15,000 rows. Not a lot of variation.

But can this be considered categorical?

### THOUGHTS

The mean and standard deviations of the train and test sets are almost identical, showing some consistency in both datasets

In [11]:
# Check for duplicated rows in the train
duplicated_train = df_train.duplicated()

# Print the number of True and False in the duplicated_train
train_counts = duplicated_train.value_counts()

# Display the duplicated rows and the value counts
train_counts, df_train[duplicated_train]

(False    15289
 dtype: int64,
 Empty DataFrame
 Columns: [id, clonesize, honeybee, bumbles, andrena, osmia, MaxOfUpperTRange, MinOfUpperTRange, AverageOfUpperTRange, MaxOfLowerTRange, MinOfLowerTRange, AverageOfLowerTRange, RainingDays, AverageRainingDays, fruitset, fruitmass, seeds, yield]
 Index: [])

In [12]:
# Check for duplicated rows in the test
duplicated_test = df_test.duplicated()

# Print the number of True and False in the duplicated_test
test_counts = duplicated_test.value_counts()

# Display the duplicated rows and the value counts
test_counts, df_test[duplicated_test]

(False    10194
 dtype: int64,
 Empty DataFrame
 Columns: [id, clonesize, honeybee, bumbles, andrena, osmia, MaxOfUpperTRange, MinOfUpperTRange, AverageOfUpperTRange, MaxOfLowerTRange, MinOfLowerTRange, AverageOfLowerTRange, RainingDays, AverageRainingDays, fruitset, fruitmass, seeds]
 Index: [])

In [13]:
# Get the number of unique values in train features and target'

df_test.nunique()

id                      10194
clonesize                   5
honeybee                    7
bumbles                     8
andrena                    12
osmia                      14
MaxOfUpperTRange            7
MinOfUpperTRange            6
AverageOfUpperTRange        6
MaxOfLowerTRange            5
MinOfLowerTRange            5
AverageOfLowerTRange        5
RainingDays                 6
AverageRainingDays          5
fruitset                 1209
fruitmass                1299
seeds                    1643
dtype: int64

In [14]:
# Calculate the percentage of unique values compared to the total number of rows
unique_percent_test = (df_test.nunique() / len(df_test)) * 100

unique_percent_test

id                      100.000000
clonesize                 0.049048
honeybee                  0.068668
bumbles                   0.078478
andrena                   0.117716
osmia                     0.137336
MaxOfUpperTRange          0.068668
MinOfUpperTRange          0.058858
AverageOfUpperTRange      0.058858
MaxOfLowerTRange          0.049048
MinOfLowerTRange          0.049048
AverageOfLowerTRange      0.049048
RainingDays               0.058858
AverageRainingDays        0.049048
fruitset                 11.859918
fruitmass                12.742790
seeds                    16.117324
dtype: float64

### THOUGHTS
1. Maybe I should do some encoding by combining the train and test datasets and then split them back.
2. Consider rounding the 'fruitset', 'fruitmass' and 'seeds' and see how that affects predictions. This will definitely reduce the number of unique values even more.

In [15]:
df_train = df_train.round({"fruitset": 1, "fruitmass": 1, "seeds": 1})

df_train.nunique()

id                      15289
clonesize                   6
honeybee                    7
bumbles                    11
andrena                    16
osmia                      14
MaxOfUpperTRange            6
MinOfUpperTRange            5
AverageOfUpperTRange        5
MaxOfLowerTRange            6
MinOfLowerTRange            7
AverageOfLowerTRange        5
RainingDays                 6
AverageRainingDays          8
fruitset                    6
fruitmass                   3
seeds                     199
yield                     776
dtype: int64

In [16]:
df_test = df_test.round({"fruitset": 1, "fruitmass": 1, "seeds": 1})

df_test.nunique()

id                      10194
clonesize                   5
honeybee                    7
bumbles                     8
andrena                    12
osmia                      14
MaxOfUpperTRange            7
MinOfUpperTRange            6
AverageOfUpperTRange        6
MaxOfLowerTRange            5
MinOfLowerTRange            5
AverageOfLowerTRange        5
RainingDays                 6
AverageRainingDays          5
fruitset                    6
fruitmass                   3
seeds                     193
dtype: int64

In [17]:
# Check for duplicated rows in the train after rounding up
duplicated_train = df_train.duplicated()

# Print the number of True and False in the duplicated_train
train_counts = duplicated_train.value_counts()

# Display the duplicated rows and the value counts
train_counts, df_train[duplicated_train]

(False    15289
 dtype: int64,
 Empty DataFrame
 Columns: [id, clonesize, honeybee, bumbles, andrena, osmia, MaxOfUpperTRange, MinOfUpperTRange, AverageOfUpperTRange, MaxOfLowerTRange, MinOfLowerTRange, AverageOfLowerTRange, RainingDays, AverageRainingDays, fruitset, fruitmass, seeds, yield]
 Index: [])

In [18]:
# Check for duplicated rows in the test after rounding up
duplicated_test = df_test.duplicated()

# Print the number of True and False in the duplicated_test
test_counts = duplicated_test.value_counts()

# Display the duplicated rows and the value counts
test_counts, df_test[duplicated_test]

(False    10194
 dtype: int64,
 Empty DataFrame
 Columns: [id, clonesize, honeybee, bumbles, andrena, osmia, MaxOfUpperTRange, MinOfUpperTRange, AverageOfUpperTRange, MaxOfLowerTRange, MinOfLowerTRange, AverageOfLowerTRange, RainingDays, AverageRainingDays, fruitset, fruitmass, seeds]
 Index: [])

### THOUGHTS

After rounding, there are still not duplicated rows in both train and test

In [19]:
# Get the information of the datasets

df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10194 non-null  int64
 1   clonesize             10194 non-null  float64
 2   honeybee              10194 non-null  float64
 3   bumbles               10194 non-null  float64
 4   andrena               10194 non-null  float64
 5   osmia                 10194 non-null  float64
 6   MaxOfUpperTRange      10194 non-null  float64
 7   MinOfUpperTRange      10194 non-null  float64
 8   AverageOfUpperTRange  10194 non-null  float64
 9   MaxOfLowerTRange      10194 non-null  float64
 10  MinOfLowerTRange      10194 non-null  float64
 11  AverageOfLowerTRange  10194 non-null  float64
 12  RainingDays           10194 non-null  float64
 13  AverageRainingDays    10194 non-null  float64
 14  fruitset              10194 non-null  float64
 15  fruitmass             10194 non-null  float64
 16  seeds                 10194 non-null  float64
dtypes: float64(16), int64(1)
memory usage: 1.3 MB

In [20]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15289 entries, 0 to 15288
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    15289 non-null  int64
 1   clonesize             15289 non-null  float64
 2   honeybee              15289 non-null  float64
 3   bumbles               15289 non-null  float64
 4   andrena               15289 non-null  float64
 5   osmia                 15289 non-null  float64
 6   MaxOfUpperTRange      15289 non-null  float64
 7   MinOfUpperTRange      15289 non-null  float64
 8   AverageOfUpperTRange  15289 non-null  float64
 9   MaxOfLowerTRange      15289 non-null  float64
 10  MinOfLowerTRange      15289 non-null  float64
 11  AverageOfLowerTRange  15289 non-null  float64
 12  RainingDays           15289 non-null  float64
 13  AverageRainingDays    15289 non-null  float64
 14  fruitset              15289 non-null  float64
 15  fruitmass             15289 non-null  float64
 16  seeds                 15289 non-null  float64
 17  yield                 15289 non-null  float64
dtypes: float64(17), int64(1)
memory usage: 2.1 MB